@model Mochileiros.Models.Travel

@{
    ViewData["Title"] = "Detalhes da viagem" ;
    Layout="~/Views/Shared/Landing/_Layout.cshtml";


}

<div id="travelContainer">


    <div id="travelDetails">
        <div class="travelInfo">

    <div class="card">
        <img class="card-img-top" style='heigth: 2rem' src="@Model.Image" alt="Imagem de @Model.Destination">
        <div class="card-body">
          <h2 class="card-title">@Model.Destination</h2>
          <p class="card-info-travel">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
  <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
</svg> Dia de começo: @Model.StartDate.ToString("dd/MM/yyyy")
          </p>
          <p class="card-info-travel">
         <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-calendar-date" viewBox="0 0 16 16">
  <path d="M6.445 11.688V6.354h-.633A13 13 0 0 0 4.5 7.16v.695c.375-.257.969-.62 1.258-.777h.012v4.61zm1.188-1.305c.047.64.594 1.406 1.703 1.406 1.258 0 2-1.066 2-2.871 0-1.934-.781-2.668-1.953-2.668-.926 0-1.797.672-1.797 1.809 0 1.16.824 1.77 1.676 1.77.746 0 1.23-.376 1.383-.79h.027c-.004 1.316-.461 2.164-1.305 2.164-.664 0-1.008-.45-1.05-.82zm2.953-2.317c0 .696-.559 1.18-1.184 1.18-.601 0-1.144-.383-1.144-1.2 0-.823.582-1.21 1.168-1.21.633 0 1.16.398 1.16 1.23"/>
  <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5M1 4v10a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4z"/>
</svg> Dia final: @Model.EndDate.ToString("dd/MM/yyyy")
          </p>
        
          <div>
          </div>
          <div class='mt-4'>


<div class="card ">
    <div class="card-body mb-">
        <h3 class="card-title">Custos</h3>
            <div>

                <p class="mb-0">Preço total: R$ @ViewData["totalExpenses"]</p>
            </div>
            <div class="mt-2">
                <a asp-action="Document" asp-route-id="@Model.Id" class="btn btn-primary">Mais detalhes</a> 
            </div>
    </div>
</div>

          </div>
      </div>
      </div>
      </div>
    
        <div class="kanban" >
@foreach (var item in (dynamic)ViewData["daysArray"])
{
            <div class="kanban__column" data-date="@item.date" data-travelid="@item.travelId">
                <div class="kanban__column-title">Dia @item.id - @item.date.ToString("dd/MM/yyyy")</div>
                <div class="kanban__items">
                @foreach (var expense in @item.expenses){
<div class="card  kanban__item" draggable="true"  id="@expense.Id" data-value="@expense.Value"  data-description="@expense.Description" data-type="@expense.Type" data-name="@expense.Name">
    <div class="card-body">
        <h5 class="card-title">@expense.Name</h5>
        <h6 class="card-subtitle mb-2 text-muted">@expense.Description</h6>
        <p class="card-text">Valor: @expense.Value</p>
        <p class="card-text">Tipo: @expense.Type</p>

        <button class="btn btn-sm btn-primary" data-toggle="modal" onclick="openEditModal('@expense.Id')" data-target="#editExpenseModal">Editar</button>

        <button class="btn btn-sm btn-danger" data-toggle="modal" onclick="openDeleteModal('@expense.Id')" data-target="#editExpenseModal">Excluir</button>
    </div>
</div>
                }
                </div>
                
                <button class="kanban__add-item " style="margin-top:48px;" onclick="openCreateModal('@item.date', '@item.travelId')" data-target="#editExpenseModal" type="button">Adicionar Item</button>
                </div>
            }
        </div>
    </div>

<div class="modal fade" id="editExpenseModal" tabindex="-1" role="dialog" aria-labelledby="editExpenseModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
        </div>
    </div>
</div>
</div>

<script>
  function openEditModal(expenseId) {
    $.get('/Expenses/Edit/' + expenseId, function(data) {
        $('#editExpenseModal .modal-content').html(data);
        $('#editExpenseModal').modal('show');
    });
}
  function openDeleteModal(expenseId) {
    $.get('/Expenses/Delete/' + expenseId, function(data) {
        $('#editExpenseModal .modal-content').html(data);
        $('#editExpenseModal').modal('show');
    });
}

  function openCreateModal(date, travelID) {
    sessionStorage.setItem("date", date);
    sessionStorage.setItem("travelId", travelID);

    $.get('/Expenses/Create', function(data) {
        $('#editExpenseModal .modal-content').html(data);
        $('#editExpenseModal').modal('show');
    });
  }

  document.addEventListener("dragstart", (e) => {
  e.target.classList.add("dragging");
});

document.addEventListener("dragend", (e) => {
  e.target.classList.remove("dragging");

});


  document.querySelectorAll('.kanban__column').forEach((item) => {

  item.addEventListener("dragover", (e) => {
      event.preventDefault();

    const dragging = document.querySelector(".dragging");
    const applyAfter = getNewPosition(item, e.clientY);

    if (applyAfter) {
      applyAfter.insertAdjacentElement("afterend", dragging);
    } else {
      item.prepend(dragging);
    }

  });
  

    item.addEventListener("drop", (e) => {
         e.preventDefault(); 
        const targetColumn = e.currentTarget;
       
  const data = e.dataTransfer.getData("text");
  const expenseItem = document.getElementById(data)
    const formData = new FormData();
    formData.append("Id", Number(data));
    formData.append("Name",  expenseItem.dataset.name);
    formData.append("Description", expenseItem.dataset.description);
    formData.append("Value", Number(expenseItem.dataset.value));
    formData.append("Type", expenseItem.dataset.type);
    formData.append("TravelID",Number(targetColumn.dataset.travelid));
    formData.append("Date",  new Date(targetColumn.dataset.date).toISOString().substr(0, 10));

      $.ajax({
        url: `/Expenses/Edit/${data}`,
        method: 'POST',
         processData: false, 
        contentType: false, 
        data: formData,
        success: function(response) {
            console.log('Expense updated successfully:', response);
        },
        error: function(xhr, status, error) {
            console.log(xhr)
            console.error('Error updating expense:', error);
        }
    });

    });
});

function drag(e) {
  e.dataTransfer.setData("text", e.target.id);
}

function getNewPosition(column, posY) {
  const cards = column.querySelectorAll(".item:not(.dragging)");
  let result;

  for (let refer_card of cards) {
    const box = refer_card.getBoundingClientRect();
    const boxCenterY = box.y + box.height / 2;

    if (posY >= boxCenterY) result = refer_card;
  }

  return result;
}

document.querySelectorAll('.kanban__item').forEach(draggable => {
  draggable.addEventListener("dragstart", drag);
});




</script>